:root {
  --font-size-small: 0.8em;
  --font-size-regular: 1em;
  --color-main:   #2A4F6E;
  --color-red:#FF6B6B;
  --color-info:#64B5F6;
  --color-white:#FFFFFF;
  --color-text-primary:#2E2E2E;
  --color-text-secondary:#909090;
  --color-success-text: #2E7D32;
  --color-joker:   magenta;
}